/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: sans-serif;
    color: white;
}

/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: black;
    height: 80px;
    line-height: 80px;
    text-align: right;
    padding-right: 5px;
}

header button{
    margin-right: 5px;
    padding: 7px;
    background-color: #4a4a4a;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
main{
    background-color: black;
    height: calc(100vh- 160px);
    overflow: auto;
}

footer{
    background-color: rgb(29, 25, 25);
    height: 80px;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#gallery{
    margin: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

#gallery .participant{
    flex: 0 0 230px;
    
    padding: 3px;
    min-height: 100px;
    border: 2px dashed white;
}
.participant img{
    max-width: 100%;
    display: block;
}









