/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: sans-serif;
    padding-top: 70px;
}

/*Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: blue;
    height: 80px;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.full-page{
    height: 100vh;
    background-color: black;
}

div.image{
    height: 50px;
    width: 50px;
    padding-left: 500px;
    padding-top: 20px;

}











